# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/target/
/blazing.mv.db
/blazing.trace.db
/.project
/.settings/
/.classpath
/.extract/
/blazing-middleware/.extract/
/bin/
*.springBeans
.ant-targets*
.classpath
.gradle
.idea
*.iml
.project
.settings
/_eclipse/
/local.properties
build
eclipse-build
gradle.properties
*dependency-reduced-pom.xml
ivy*
javadocs
kobaltBuild
lib
maven-testng-plugin-1.2.jar
nb-configuration.xml
out
src/generated
target
test-output
test-output-tests
testng.iml
z_build
.kobalt
.DS_Store
CMakeLists.txt.user
